
    body {
      background: linear-gradient(135deg, #e0f7ff, #b3e0ff);
      font-family: 'Poppins', sans-serif;
      min-height: 100vh;
    }

    header {
      text-align: center;
      padding: 40px 0 10px;
    }

    header img {
      width: 18%;
      animation: float 3s ease-in-out infinite;
    }

    .logo{
        margin: auto;
        transition: all 0.3s ease;
    }

    .logo:hover {
        transform: scale(0.75);
    }

    @keyframes float {
      0%, 100% { transform: translateY(0); }
      50% { transform: translateY(-8px); }
    }

    .quiz-card {
      background-image: linear-gradient(to bottom, #1e90ff, #70b7fd);
      border-radius: 20px;
      padding: 30px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
      margin-top: 30px;
      transition: all 0.3s ease;
    }

    .quiz-card:hover{
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
        transform: translateY(-5px) scale(1.05);
    }


    .btn-custom {
      background-color: #1e90ff;
      color: white;
      font-weight: bold;
      transition: 0.3s;
    }

    .btn-custom:hover {
      background-color: #0059ac;
      transform: scale(1.05);
      box-shadow: 0 12px 30px white;
      color: black;
    }

    #result {
      display: none;
      margin-top: 30px;
      text-align: center;
      font-size: 1.1rem;
    }

    .progress {
      height: 20px;
      margin-bottom: 20px;
    }

    footer {
      margin-top: 50px;
      text-align: center;
      color: rgba(0, 0, 0, 0.4);
    }


    input[type="radio"] {
        border: 3px solid rgba(var(--bs-primary-rgb), 0.5);
    }

    a{
        color: rgba(0, 0, 0, 0.4);
    }